@model SpaEFV3.Models.Customer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Fname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Fname)
                @Html.ValidationMessageFor(model => model.Customer_Fname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Lname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Lname)
                @Html.ValidationMessageFor(model => model.Customer_Lname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Gender)
                @Html.ValidationMessageFor(model => model.Customer_Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_MobileNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_MobileNo)
                @Html.ValidationMessageFor(model => model.Customer_MobileNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_DOB)
                @Html.ValidationMessageFor(model => model.Customer_DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_EmailID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_EmailID)
                @Html.ValidationMessageFor(model => model.Customer_EmailID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_AltMobileNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_AltMobileNo)
                @Html.ValidationMessageFor(model => model.Customer_AltMobileNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Created_Loc_ID, "Customer_Created_Loc_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Customer_Created_Loc_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Customer_Created_Loc_ID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Customer_CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_CreatedBy)
                @Html.ValidationMessageFor(model => model.Customer_CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Is_Active, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Is_Active)
                @Html.ValidationMessageFor(model => model.Customer_Is_Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Created_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Created_Dt)
                @Html.ValidationMessageFor(model => model.Customer_Created_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Updated_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Updated_Dt)
                @Html.ValidationMessageFor(model => model.Customer_Updated_Dt)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
