@model SpaEFV3.Models.Service

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Service</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Service_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Service_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Service_Name)
                @Html.ValidationMessageFor(model => model.Service_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Service_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Service_Description)
                @Html.ValidationMessageFor(model => model.Service_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Service_Created_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Service_Created_Dt)
                @Html.ValidationMessageFor(model => model.Service_Created_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Service_Updated_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Service_Updated_Dt)
                @Html.ValidationMessageFor(model => model.Service_Updated_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Service_Created_By, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Service_Created_By)
                @Html.ValidationMessageFor(model => model.Service_Created_By)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
