@model SpaEFV3.Models.Voucher_Master

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Voucher_Master</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Voucher_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Business_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Business_ID)
                @Html.ValidationMessageFor(model => model.Business_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Code)
                @Html.ValidationMessageFor(model => model.Voucher_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Amount)
                @Html.ValidationMessageFor(model => model.Voucher_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Description)
                @Html.ValidationMessageFor(model => model.Voucher_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Start_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Start_Dt)
                @Html.ValidationMessageFor(model => model.Voucher_Start_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Expiry_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Expiry_Dt)
                @Html.ValidationMessageFor(model => model.Voucher_Expiry_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Created_By, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Created_By)
                @Html.ValidationMessageFor(model => model.Voucher_Created_By)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Created_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Created_Dt)
                @Html.ValidationMessageFor(model => model.Voucher_Created_Dt)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
