@model IEnumerable<SpaEFV3.Models.Voucher_Master>

@{
    ViewBag.Title = "Index";
}

<h2>Voucher Master</h2>

<p>
    @Html.ActionLink("Create New Voucher", "Create")
</p>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voucher_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voucher_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voucher_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voucher_Start_Dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voucher_Expiry_Dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voucher_Created_By)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Start_Dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Expiry_Dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher_Created_By)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Voucher_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Voucher_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Voucher_ID })
        </td>
    </tr>
}

</table>
