@model SpaEFV3.Models.Membership_Master

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Membership_Master</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Membership_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Business_ID, "Business_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Business_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Business_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Membership_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Membership_Type)
                @Html.ValidationMessageFor(model => model.Membership_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Membership_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Membership_Amount)
                @Html.ValidationMessageFor(model => model.Membership_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Membership_Validity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Membership_Validity)
                @Html.ValidationMessageFor(model => model.Membership_Validity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Membership_Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Membership_Desc)
                @Html.ValidationMessageFor(model => model.Membership_Desc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
