@model IEnumerable<SpaEFV3.Models.Location_Tax>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tax_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Loc_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax_Master.Tax_Short_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Loc_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_Master.Tax_Short_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Location_Tax_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Location_Tax_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Location_Tax_ID })
        </td>
    </tr>
}

</table>
