@model SpaEFV3.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Name)
                @Html.ValidationMessageFor(model => model.Product_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Weight)
                @Html.ValidationMessageFor(model => model.Product_Weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Weight_UOM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Weight_UOM)
                @Html.ValidationMessageFor(model => model.Product_Weight_UOM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_MRP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_MRP)
                @Html.ValidationMessageFor(model => model.Product_MRP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Balance_Qty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Balance_Qty)
                @Html.ValidationMessageFor(model => model.Product_Balance_Qty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Min_Stock_Lvl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Min_Stock_Lvl)
                @Html.ValidationMessageFor(model => model.Product_Min_Stock_Lvl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Vendor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Vendor)
                @Html.ValidationMessageFor(model => model.Product_Vendor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_MFG_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_MFG_Dt)
                @Html.ValidationMessageFor(model => model.Product_MFG_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Expiry_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Expiry_Dt)
                @Html.ValidationMessageFor(model => model.Product_Expiry_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Barcode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Barcode)
                @Html.ValidationMessageFor(model => model.Product_Barcode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Description)
                @Html.ValidationMessageFor(model => model.Product_Description)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Product_Created_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Created_Dt)
                @Html.ValidationMessageFor(model => model.Product_Created_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Updated_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Updated_Dt)
                @Html.ValidationMessageFor(model => model.Product_Updated_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Created_By, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Created_By)
                @Html.ValidationMessageFor(model => model.Product_Created_By)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
