@model SpaEFV3.Models.Xref_Location_Therapist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Xref_Location_Therapist</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Loc_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Loc_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Therapist.Therapist_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Therapist.Therapist_FName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Loc_Ther_Xref_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
