
@{
    ViewBag.Title = "Index";
}

<h3>Welcome to home page</h3>
<hr/>

<br />
<div>@Html.ActionLink("Locations", "Index", "Location" )</div>

<br />
<div>@Html.ActionLink("Tax Master", "Index", "TaxMaster")</div>

<br />
<div>@Html.ActionLink("Taxs for Locations", "Index", "LocationTax")</div>

<br />
<div>@Html.ActionLink("System Users", "Index", "User")</div>

<br />
<div>@Html.ActionLink("User Roles", "Index", "UserRole")</div>

<br />
<div>@Html.ActionLink("Services Master", "Index", "Service")</div>

<br />
<div>@Html.ActionLink("Treatments Master", "Index", "Treatment")</div>

<br />
<div>@Html.ActionLink("Treatments for Services", "Index", "TreatmentsForService")</div>

<br />
<div>@Html.ActionLink("Product Master", "Index", "Product")</div>

<br />
<div>@Html.ActionLink("Usage of Inventory for a Treatment", "Index", "TreatmentInventoryUsage")</div>

<br />
<div>@Html.ActionLink("Therapist Master", "Index", "Therapist")</div>

<br />
<div>@Html.ActionLink("Therapists at Location Info", "Index", "TherapistAtLocation")</div>

<br />
<div>@Html.ActionLink("Customer Master", "Index", "Customer")</div>

<br />
<div>@Html.ActionLink("Order Master", "Index", "Order")</div>

<br />
<div>@Html.ActionLink("Voucher Master", "Index", "Voucher")</div>

<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

