@model SpaEFV3.Models.Treatment_Inventory_Usage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Treatment_Inventory_Usage</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Treatment_ID, "Treatment_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Treatment_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Treatment_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_ID, "Product_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Product_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Product_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qty_Used, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qty_Used)
                @Html.ValidationMessageFor(model => model.Qty_Used)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
