@*@model IEnumerable<SpaEFV3.Models.Tax_Master>*@
@model IEnumerable<SpaEFV3.ViewModels.TaxMaster.TaxMasterListViewModel>
@*@model String*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--need to use angularjs here-->

@*<div ng-app="TaxMaster" ng-controller="TaxMasterCtrl" ng-init="@Model">*@
    <div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tax_Short_Name)</th>
            <th>@Html.DisplayNameFor(model => model.Tax_Description)</th>
            <th>@Html.DisplayNameFor(model => model.CountryName)</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr ng-repeat="item in Model">
 
                <td>@Html.DisplayFor(modelItem => item.Tax_Short_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Tax_Description)</td>
                <td>@Html.DisplayFor(modelItem => item.CountryName)</td>

                @*<td>{{item.Tax_Short_Name}}</td>
                <td>{{item.Tax_Description}}</td>
                <td>{{item.Country_ID}}</td>*@

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Tax_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Tax_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Tax_ID })
                </td>

            </tr>
        }

    </table>

</div>



