<!DOCTYPE html>
<html>

@{
    ViewBag.LoggedInUser = Session["LoggedInUser"];
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*Local JQuery reference*@
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">

    @*Local Bootstrap reference*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    @*Online Bootstrap reference*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">*@

     @*Online DataTables CSS
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">*@

    @*Site Stylesheet*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


</head>
<body>
    
    @{
      
        
        //If user is not a site user - display general menu along with Login link
        if (Session["LoggedInUser"] == null || String.IsNullOrEmpty(Session["LoggedInUser"].ToString()))
        {
            @Html.Partial("_LayoutForSiteVisitor");
        }
        else
        {
            @Html.Partial("_LayoutForUserGeneral");
        }
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.confirm.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- DataTables: CDN/Online link -->
    @*<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>*@

    <!-- DataTables: Local link -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>

</body>
</html>