@model SpaEFV3.Models.Order

@{
    ViewBag.Title = "Create New Order";
}
<br />
<h4>New Sale Receipt</h4>
<br />


<div id="commentedblock">

    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Order</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Customer_ID, "Customer_ID", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Customer_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.Customer_ID)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Dt, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Dt)
                        @Html.ValidationMessageFor(model => model.Order_Dt)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Loc_ID, "Order_Loc_ID", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Order_Loc_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.Order_Loc_ID)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Currency_Code, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Currency_Code)
                        @Html.ValidationMessageFor(model => model.Order_Currency_Code)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Gross_Amount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Gross_Amount)
                        @Html.ValidationMessageFor(model => model.Order_Gross_Amount)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Net_Amount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Net_Amount)
                        @Html.ValidationMessageFor(model => model.Order_Net_Amount)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Voucher_Usage_ID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Voucher_Usage_ID)
                        @Html.ValidationMessageFor(model => model.Voucher_Usage_ID)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Comments, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Comments)
                        @Html.ValidationMessageFor(model => model.Order_Comments)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Created_By, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Created_By)
                        @Html.ValidationMessageFor(model => model.Order_Created_By)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Updated_Dt, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Updated_Dt)
                        @Html.ValidationMessageFor(model => model.Order_Updated_Dt)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Updated_By, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Order_Updated_By)
                        @Html.ValidationMessageFor(model => model.Order_Updated_By)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }*@
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div ng-app="MyApp" class="form-horizontal">

        <div class="row">

            @*Left side box*@
            <div class="col-md-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Dt, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Order_Dt)
                        @Html.ValidationMessageFor(model => model.Order_Dt)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Order_Loc_ID, new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.DropDownList("Order_Loc_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.Order_Loc_ID)
                    </div>
                </div>

                <div id="customer-input-area" style="">

                    <p><b>Customer details:</b></p>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Customer_MobileNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Customer.Customer_MobileNo)
                            @Html.ValidationMessageFor(model => model.Customer.Customer_MobileNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Customer_Fname, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Customer.Customer_Fname)
                            @Html.ValidationMessageFor(model => model.Customer.Customer_Fname)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Customer_Lname, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Customer.Customer_Lname)
                            @Html.ValidationMessageFor(model => model.Customer.Customer_Lname)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Customer_MobileNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Customer.Customer_EmailID)
                            @Html.ValidationMessageFor(model => model.Customer.Customer_EmailID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Customer_Gender, new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Customer.Customer_Gender)
                            @Html.ValidationMessageFor(model => model.Customer.Customer_Gender)
                        </div>
                    </div>
                    <br />
                </div>

                <div id="order-input-area" style="">
                    <p><b>Order details:</b></p>

                    <table border="1">
                        <thead>
                            <tr>
                                <th>
                                    Select Therapy
                                </th>
                                <th>
                                    Comp Therapy
                                </th>
                                <th>
                                    Therapist
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    End Time
                                </th>
                                <th>
                                    Total Time
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Discount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                                <td>Select Therapy</td>
                            </tr>
                        </tbody>
                    </table>

                    <br /><br />

                </div>

            </div>

            @*Right side box*@
            <div class="col-md-2">

            </div>

        </div>

        <div ng-controller="CustomerCtrl">
            <div>
                <div class="form-group">
                    <label class="col-md-2 control-label">fname</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="fname" class="form-control" name="fname"
                               ng-model="fname" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">lname</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="lname" class="form-control" name="lname"
                               ng-model="lname" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">age</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="age" class="form-control" name="age"
                               ng-model="age" />
                    </div>
                </div>
            </div>

            <div>
                <input type="button" value="add row" id="addRow" ng-click="addRow()" />
            </div>

            <div>
                <table border="1">
                    <thead>
                        <tr>
                            <th>fname</th>
                            <th>lname</th>
                            <th>emailid</th>
                        </tr>
                        <tr ng-repeat="customer in customers">
                            <td>{{customer.fname}}</td>
                            <td>{{customer.lname}}</td>
                            <td>{{customer.age}}</td>
                        </tr>
                    </thead>
                </table>
            </div>


        </div>

    </div>
}

<br /><br /><br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
