@model SpaEFV3.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Order_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_ID, "Customer_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Customer_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Customer_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Dt)
                @Html.ValidationMessageFor(model => model.Order_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Loc_ID, "Order_Loc_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Order_Loc_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Order_Loc_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Currency_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Currency_Code)
                @Html.ValidationMessageFor(model => model.Order_Currency_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Gross_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Gross_Amount)
                @Html.ValidationMessageFor(model => model.Order_Gross_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Net_Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Net_Amount)
                @Html.ValidationMessageFor(model => model.Order_Net_Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Voucher_Usage_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voucher_Usage_ID)
                @Html.ValidationMessageFor(model => model.Voucher_Usage_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Comments)
                @Html.ValidationMessageFor(model => model.Order_Comments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Created_By, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Created_By)
                @Html.ValidationMessageFor(model => model.Order_Created_By)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Updated_Dt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Updated_Dt)
                @Html.ValidationMessageFor(model => model.Order_Updated_Dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Updated_By, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Updated_By)
                @Html.ValidationMessageFor(model => model.Order_Updated_By)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
