@model IEnumerable<SpaEFV3.Models.Treatment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Treatment_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment_Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Treatment_Created_Dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment_Updated_Dt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Treatment_Created_By)
        </th>*@
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment_Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Treatment_Created_Dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment_Updated_Dt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Treatment_Created_By)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Treatment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Treatment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Treatment_ID })
        </td>
    </tr>
}

</table>
